@import '../../shared/scss/common.scss';

.home-banner{
    width: 100%;
    background-color: $white;
    box-shadow:  0 0 10px $shadow;
    border-radius: 4px;
    display: flex;
    height:50px;
    align-items: center;
    min-width:1024px;
}

.product-change{
  padding-left: 10px;
    width: 30%;
}
.productsSwitch {
    display: flex;
    justify-content: space-evenly;
    // margin-top: 4px;
    width: 300px;
    text-align: center;
    font-weight: bold;
    border: 2px solid $toggle-gray !important;
    border-radius: 4px;
    cursor: pointer;

    .productsButton {
      width: 50%;
      padding-top: 2px;
      padding-bottom: 2px;
      background-color: $icon-light-gray;
      color: $icon-dark-gray;
    }
    .type-active{
      color: $blue;
      background-color: $light-blue;
      border: 2px solid $blue  !important;
      border-radius: 4px;
    }
    .type-icon {
      font-size: 28px;
      color: $blue;
    }
}

.toggle{
  width: 15%;
}

//search bar
.search{
  width: 20%;
  border-bottom: 1px solid $under-line;  
  border-top:0px;  
  border-left:0px;  
  border-right:0px;  
}
#bar-search{
  border: 0;
  height: 25px;
  padding-left: 10px;
  font-size: 16px;
}
.magnifying{
  color: $blue;
  font-size: 25px;
}
input:focus{
  outline:none;
}
::placeholder { 
  color: $icon-dark-gray;
  opacity: 1; 
}