$back-ground: #f2f4f6;
$icon-gray: #cdcdcd;
$toggle-gray: #e4e4e4;
$icon-light-gray: #f6f6f6;
$icon-dark-gray: #b2b2b2;
$icon-green: #3ddca3;
$icon-purple: #b08ff3;
$light-purple: #e6d9fe;
$blue: #0d8af8;
$light-blue: #e0effc;
$white: #ffffff;
$black: black;
$shadow: #00000035;
$under-line: #dbdbdb;
