@import '../../../shared/scss/common.scss';

.grid-container {
    display: grid;
    grid-template-columns:repeat( auto-fit, minmax(100px, 1fr) );
    grid-template-rows: repeat(auto-fill);
    padding-left:15px;
    text-align: center;
    
  }
  .first-row{
    padding: 15px 0px;
  }
  
  .icon-gray{
    color: $icon-dark-gray;
}
.icon-dispaly{
  display: table-cell;
}
.icon{
  color: #ffffff;
}
.icon-background{
  background-color: $icon-purple;
  border-radius: 20px;
  padding: 4px;
  display: inline-block;
  margin: 0 12px;
  width: 20px;
  height: 20px;
  text-align: center;
}
.back-green{
  background-color: $icon-green;
}
.back-gray{
  background-color: $icon-dark-gray;
}

.current-line{
  width:10px;
  height:400px;
  border-right: solid $blue 1px;
}

.grid-item{
  display: inline-grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: repeat(auto-fill, 35px);
  justify-content: center;
  align-items: end;
}
.grid-container .grid-item:not(:last-child){
  border-right:2px solid $back-ground;
}