@import '../../../shared/scss/common.scss';

.toggle {
  display: flex;
}

.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $toggle-gray;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 22px;
  width: 22px;
  left: 1px;
  bottom: 0px;
  background-color: $light-blue;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

// input:checked + .slider {
//  // background-color:
// }

// input:focus + .slider {
//   //box-shadow: ;
// }

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  box-shadow: 0 0 10px #0000001f;
}

.slider.round:before {
  border-radius: 50%;
  border: 2px solid $blue;
  box-shadow: 0 3px 4px $icon-dark-gray;
}

.toggle-text {
  color: $icon-dark-gray;
  margin: 4px;
}
.isChecked {
  font-weight: bold;
}
.purple {
  color: $icon-purple;
}
.blue {
  color: $blue;
}
.silder-purple:before {
  background-color: $light-purple;
  border: 2px solid $icon-purple !important;
}

// .silder-blue:before{
//   background-color: $light-blue;
// }
