@import '../../../shared/scss/common.scss';

.margin-left{
    margin-left: 80px !important;
}
.first-row{
    padding-top: 20px;
}
.grid-container {
    display: grid;
    grid-template-columns: 16% 14% 14% 14% 14% 14% 14%;
    grid-template-rows: repeat(2, 25%);
    padding-left:15px;
    text-align: center;
    justify-items: center;
    align-items: center;
  }
.icon-background{
    background-color: #cdcdcd;
    border-radius: 20px;
    padding: 4px;
    display: inline-block;
    margin: 0 12px;
    width: 20px;
    height: 20px;
    text-align: center;
}
.count-body{
    background-color: #f7fffd;
    min-height: 150px;
}
.tar-font{
    font-size: 15px;
    font-family: fantasy;
}
.blue{
    color: $blue;
}
.icon-green{
    color: $icon-green;
}
.icon-gray{
    color: $icon-dark-gray;
}
.toDo-icon{
    background-color: $light-blue;
    border-radius: 20px;
    padding: 4px;
    display: inline-block;
    width: 20px;
    text-align: center;
    border: 2px solid $blue;
    font-weight: bold;
}
.grid-item{
    text-align: center;
}

